<!DOCTYPE html>
<html>
<head>
	
<meta charset="UTF-8">
</head>
<body>
    {{#each contents}}
    <form method="post">
        <input type="radio" name='name' value={{this}}>{{this}}
        <br>
        <input type='submit' value='delete' onclick='this.form.action= "/deletevideo"'>
    </form>
    {{/each}}
</body>
</html>