<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	&nbsp;

	<!-- Heading -->
	<div class="sidebar-heading">
		Interface
	</div>
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item active">
		<a class="nav-link" href="/main">
			<i class="fas fa-fw fa-house-user"></i>
			<span>HOME</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="/clientlist">
			<i class="fas fa-fw fa-address-card"></i>
			<span>출입관리</span></a>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/main">
			<i class="fas fa-fw fa-hand-holding-water"></i>
			<span>수전사용량</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/handdryermanage">
			<i class="fas fa-fw fa-hand-sparkles"></i>
			<span>핸드 드라이어 관리</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/personlist">
			<i class="fas fa-fw fa-list"></i>
			<span>회원목록</span></a>
	<li class="nav-item">
		<a class="nav-link" href="/smartmirrormanage">
			<i class="fas fa-exclamation-triangle"></i>
			<span>스마트미러 관리</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/mediacontents">
			<i class="fas fa-folder"></i>
			<span>미디어 관리</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/modifyid">
			<i class="fab fa-orcid"></i>
			<span>관리자 정보 수정</span></a>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<!-- <div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
		-->

</ul>