
{{percentArray}}
<p>dawdaw</p>
{{yearWater}}
<p>adwawd</p>
{{yearpercentArray}}
<p>adwadw</p>
{{weekendWater.[0]}}
<p>실시간 배열</p>
<p id="yeararray">aawd</p>
<p>실시간 퍼센트</p>
<p id="test">adwawd`</p>

<script src="/socket.io/socket.io.js"></script>
<script>
  socket.on('yearWater',(msg)=>{
    var txt2 = document.getElementById("yeararray");

    txt2.innerText = msg;
  });
    socket.on('wateryearpercent',(msg)=>{
      var test = document.getElementById('test');
      test.innerText = msg;
  });
</script>