
<p>nfc</p>
<p id="nfc">nfc</p>
<p>gassensor</p>
<p id="gassensor">gassensor</p>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('test_gassensor', (msg) => {
    var txt = document.getElementById('nfc');
    txt.innerText = msg;
  });
  socket.on('getgassensor', (msg) => {
    var txt = document.getElementById('gassensor');
    txt.innerText = msg;
  });

</script>