
<html>
  <link rel="stylesheet" href="css/esp32.css">
<body>

<p>서버에서 esp32로 보내는 값입니다.</p>
<p>on을 클릭하면 1의 값을 보내고</p>
<p>off를 클릭하면 0의 값을 보냅니다.</p>
<p>if(getHTTPData("ledstate", 0) == "1") digitalWrite(Relaypin,HIGH);</p>
<p>else digitalWrite(Relaypin,LOW);</p>
<p>를 아두이노에 쓰시면 1의 값을 보내면 켜지고 0의 값을때는 꺼집니다.</p>
<h2>LED Toggle</h2>

<form method="post">
  <button name='name' value='1' onclick='this.form.action ="/updateled"'>LEDON</button>
  <button name='name' value='0' onclick='this.form.action ="/updateled"'>LEDOFF</button>
</form>


<h1>--------------------------------------------------------</h1>


<p>esp32 에서 서버로 보내는 값입니다. </p>
<p>static int watervalue = 0;</p>
<p>String waterPath = "testwater_recieve?id=" + String(watervalue);</p>
<p>sendHTTPData(waterPath);</p>
<p>를 아두이노에 쓰시면 서버에 값을 보내실 수 있습니다.</p>
<p>실시간으로 값을 보내고 받고 있기 때문에 aaa라는 문자가 바뀌지 않는다면 esp32쪽 오류일 가능성이 높습니다.</p>
<p>문자열 보내는것은 테스트 하지 않았지만 int로 보내는것은 확인 하였습니다.</p>
<ul id="messages" type="none">
        <li id="changeh1">aaa</li>
    </ul>

<h1>dawawd</h1>
<h4 id="dlatlvalue">bbbb</h4>

<h4 id="gassensor">gassensor</h4>

<h4 id="sensor">sensor</h4>

<h4 id="ajswl">ajswl</h4>


<div class="container">       
        <div class="switch-holder">
            <div class="switch-label">
                <i class="fa fa-bluetooth-b"></i><span>Bluetooth</span>
            </div>
            <div class="switch-toggle">
                <input type="checkbox" id="bluetooth">
                <label for="bluetooth"></label>
            </div>
        </div>
    </div>



<script src="/socket.io/socket.io.js"></script>
<script>

      var socket = io();
      
        socket.on('messageh1', (msg) => {
            var txt=document.getElementById('changeh1');
            txt.innerText=msg;
        });
        socket.on('messageled', (msg) => {
            var txt=document.getElementById('changehled');
            var btn=document.getElementById("bluetooth");
            if(msg == "checked")
            {
              btn.checked=true;
            }
            else
            {
              btn.checked=false
            }
            txt.innerText=msg;
        });

        socket.on('dlatlwatervalue', (msg) => {
            var txt=document.getElementById('dlatlvalue');
            txt.innerText=msg;
        });

        socket.on('gassensor', (msg) => {
            var txt=document.getElementById('gassensor');
            txt.innerText=msg;
        });

        socket.on('sensor', (msg) => {
            var txt=document.getElementById('sensor');
            txt.innerText=msg;
        });

        socket.on('ajswl', (msg) => {
            var txt=document.getElementById('ajswl');
            txt.innerText=msg;
        });
</script>

</body>
</html>