<!--테일윈드 불러오기-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css">
<!--폰트어썸 불러오기-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="css/handdryermanage.css">
<div class="all-box h-full overflow-hidden">
  <div class="hei-50"></div>

  <div class="flex justify-center items-center">
    <div class="wid-40-p h-40 bg-white flex justify-center items-center overflow-hidden">
      <div class="h-full w-2 bg-158AE7"></div>
      <div class="flex-1"></div>
      <div class="img-box title-graph-icon">
        <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/title-graph-.png" alt>
      </div>
      <div class="font-32 font-bold c-198EEB">
        <span>
          Management Page
        </span>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>

  <div class="tt-btn-m-box"></div>
  <!--오염량-->
  <div>
    <div class="text-base font-bold c-7D8FA0">
      <span>
        공기필터 오염량
      </span>
    </div>
    <!--1-->
    <div class="flex items-center items-center">
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-1A8FEC hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">1</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    공기필터 오염량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>20</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 20%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span class="hidden">
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 오염시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon hidden">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--2-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-1A8FEC hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">2</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    공기필터 오염량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>90</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span>
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 오염시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--3-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-1A8FEC hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">3</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    공기필터 오염량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>20</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 20%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span class="hidden">
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 오염시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon hidden">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--4-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-1A8FEC hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">4</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    공기필터 오염량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>90</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span>
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 오염시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--핸드타올-->
  <div class="mt-5">
    <div class="text-base font-bold c-7D8FA0">
      <span>
        핸드타올 사용량
      </span>
    </div>
    <!--1-->
    <div class="flex items-center items-center">
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-98D1FE hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">1</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    핸드타올 사용량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>20</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 20%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span class="hidden">
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 사용시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon hidden">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--2-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-98D1FE hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">2</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    핸드타올 사용량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>90</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span>
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 사용시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--3-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-98D1FE hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">3</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    핸드타올 사용량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>90</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span>
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 사용시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w-9"></div>
      <!--4-->
      <div class="flex flex-1 items-center justify-start">
        <div class="bg-98D1FE hei-188 text-white mr-1 flex items-center">
          <span class="padding-x-14">4</span>
        </div>
        <div class="w-full">
          <div class="hei-92 bg-white flex items-center justify-center">
            <div class="w-full px-5">
              <div class="flex">
                <div class="font-16 c-565656">
                  <span>
                    핸드타올 사용량
                  </span>
                </div>
                <div class="flex-1"></div>
                <div class="font-16 c-565656">
                  <span>90</span>
                  <span>%</span>
                </div>
              </div>
              <div class="graph-back-bar hei-10 border-radius-5">
                <div class="percent-bar h-full border-radius-50" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="h-1"></div>
          <div class="hei-92 bg-white px-5 flex justify-start items-center">
            <div>
              <div class="font-16 c-FF4921">
                <span>
                  필터를 교체 해주세요
                </span>
              </div>
              <div class="font-14 c-A7A7A7">
                90%이상 사용시 알람이 활성화 됩니다
              </div>
            </div>
            <div class="flex-1 mr-5"></div>
            <div class="img-box change-alarm-icon">
              <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/change-alarm.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bar w-full bg-158AE7"></div>
</div>
<!--footer-->