<!--테일윈드-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/handdryermanage.css">


    <!--요소 시작-->
    <div class="Ele-All-Box w-full">
      <!--1-->
      <div class="HandDrier-All-Box">
        <!---->
        <div class="Management-Text-Box bg-white flex">
          <div class="flex flex-1 justify-center items-center">
            <span class="font-bold">
              Management
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              사용량
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              알람
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              교체 여부
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              수치
            </span>
          </div>
        </div>
        <!---->
        <div class="Management-List-Box">
          <!--L1-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(1)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656" id="test_remain">
                {{hand}}
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: none;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="left: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: {{hand}}%;" id="remainpercent"></div>
              </div>
            </div>
          </div>
          <!--L2-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(2)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656">
                20
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: none;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="left: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
              </div>
            </div>
          </div>
          <!--L3-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(3)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656">
                100
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: block;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="right: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: 100%;"></div>
              </div>
            </div>
          </div>
          <!--L4-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(4)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656">
                85
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: block;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="right: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: 85%;"></div>
              </div>
            </div>
          </div>
          <!--L5-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(5)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656">
                20
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: none;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="left: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
              </div>
            </div>
          </div>
          <!--L6-->
          <div class="Use-List-Item-Box flex">
            <div class="BathRoom-Text flex flex-1 justify-center items-center">
              <i class="fas fa-restroom c-4F6884"></i>
              <span class="ml-1">화장실(6)</span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <span class="Management__Use-Text c-565656">
                핸드드라이어 사용량
              </span>
            </div>
            <div class="Management__Use-Text flex flex-1 justify-center items-center">
              <span class="c-565656">
                80
              </span>
              <span class="c-565656">
                %
              </span>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div style="display: block;">
                <span class="Change-Text c-079E24">
                  Change
                </span>
                <span class="c-079E24 M-B--2">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center">
              <div class="poll-btn inline-block">
                <div class="relative flex">
                  <!--움직이는 버튼-->
                  <div class="Use-Move-Btn" style="right: 0;">
                    <span class="h-full flex justify-center items-center">
                      btn
                    </span>
                  </div>
                  <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                    <span class="text-xs c-FD7B32">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                  <div class="btn-text-danger bg-white flex">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 justify-center items-center border-radius-50">
              <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
                <div class="Percent-Bar h-full border-radius-50" style="width: 80%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Center-Line">

      </div>
      <!--2-->
      <div class="Poll-All-Box border-o">
        <!---->
        <div class="Management-Text-Box bg-white flex">
          <div class="flex flex-1 justify-center items-center">
            <span class="font-bold">
              Management
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              오염량
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              교체 여부
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              가스 센서
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span>
              미세먼지 센서
            </span>
          </div>
        </div>
        <!--L1-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(1)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656" id="test_gassensor">
              20
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              20
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="left: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;" id="remaingaspercent"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
            </div>
          </div>
        </div>
        <!--L2-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(2)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656">
              20
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              20
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="left: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
            </div>
          </div>
        </div>
        <!--L3-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(3)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656">
              100
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              100
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="right: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 100%;"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 100%;"></div>
            </div>
          </div>
        </div>
        <!--L4-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(4)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656">
              20
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              20
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="left: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 20%;"></div>
            </div>
          </div>
        </div>
        <!--L5-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(5)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656">
              80
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              80
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="right: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 80%;"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 80%;"></div>
            </div>
          </div>
        </div>
        <!--L6-->
        <div class="Use-List-Item-Box flex">
          <div class="BathRoom-Text flex flex-1 justify-center items-center">
            <i class="fas fa-restroom c-4F6884"></i>
            <span class="ml-1">화장실(6)</span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <span class="Management__Use-Text c-565656">
              공기필터 오염량
            </span>
          </div>
          <div class="Management__Use-Text flex flex-1 justify-center items-center">
            <span class="c-565656">
              80
            </span>
            <span class="c-565656 mr-1">
              %
            </span>
            <span class="c-565656">
              /
            </span>
            <span class="c-565656 ml-1">
              80
            </span>
            <span class="c-565656">
              %
            </span>
          </div>
          <div class="flex flex-1 justify-center items-center">
            <div class="poll-btn inline-block">
              <div class="relative flex">
                <!--움직이는 버튼-->
                <div class="Use-Move-Btn" style="right: 0;">
                  <span class="h-full flex justify-center items-center">
                    btn
                  </span>
                </div>
                <div class="btn-text-off hei-34 bg-white flex justify-center items-center">
                  <span class="text-xs c-FD7B32">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <div class="btn-text-danger bg-white flex">
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 80%;"></div>
            </div>
          </div>
          <div class="flex flex-1 justify-center items-center border-radius-50">
            <div class="Graph-Back-Bar wid-80-p mx-2 border-radius-50">
              <div class="Percent-Bar h-full border-radius-50" style="width: 80%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('remain', (msg) => {
    var txt = document.getElementById('test_remain');
    var txt1 = document.getElementById('remainpercent');

    txt1.style.width = msg + "%";

    txt.innerText = msg;
  });
  socket.on('getgassensor', (msg) => {
    var txt = document.getElementById('test_gassensor');
    var txt1 = document.getElementById('remaingaspercent');

    txt1.style.width = msg + "%";

    txt.innerText = msg;
  });
</script>