<!--테일윈드-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/noticecreate.css">

<div class="All-box flex text-white">
  <!--top-bar-->
  <div class="top-bar wid-14-5-p min-h-screen bg-1A8FEC padding-t-3-p padding-l-1-p padding-r-1-p">
    <div class="title-text text-white font-bold text-opacity-50 margin-b-20">
      INTERFACE
    </div>
    <nav class="list-text text-opacity-80">
      <ul>
        <!--1-->
        <li class="margin-b-20">
          <a href="#">
            <i class="fas fa-fw fa-house-user text-white"></i>
            <span class="font-bold text-white text-opacity-100">HOME</span>
          </a>
        </li>
        <div class="border border-white border-opacity-10 margin-b-30"></div>
        <!--2-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-fw fa-address-card text-white text-opacity-50"></i>
            <span>출입관리</span>
          </a>
        </li>
        <!--3-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-fw fa-hand-holding-water text-white text-opacity-50"></i>
            <span>수전사용량</span>
          </a>
        </li>
        <!--4-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-fw fa-hand-sparkles text-white text-opacity-50"></i>
            <span>핸드 드라이어 관리</span>
          </a>
        </li>
        <!--5-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-fw fa-list text-white text-opacity-50"></i>
            <span>회원목록</span>
          </a>
        </li>
        <!--6-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-exclamation-triangle text-white text-opacity-50"></i>
            <span>스마트미러 관리</span>
          </a>
        </li>
        <!--7-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fas fa-folder text-white text-opacity-50"></i>
            <span>미디어 관리</span>
          </a>
        </li>
        <!--8-->
        <li class="margin-b-30">
          <a href="#">
            <i class="fab fa-orcid text-white text-opacity-50"></i>
            <span>관리자 정보 수정</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="border border-white border-opacity-10"></div>
  </div>
  <!--logo-->
  <div class="w-full">
    <div class="logo-box hei-70 bg-white flex items-center border">
      <!--로고-->
      <div class="img-box img-profile-box ml-5">
        <img class="img-profile rounded-circle" src="https://i.postimg.cc/MXJnGQ7w/image.png">
      </div>
      <!--중앙.빈공간-->
      <div class="flex-1"></div>
      <!--관리자-->
      <div>
        <a class="nav-link dropdown-toggle flex items-center c-686868 mr-5" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-2xl mr-1">
            <i class="fas fa-user-circle"></i>
          </span>
          <span class="d-none d-lg-inline small text-xs font-bold">관리자님</span>
        </a>
      </div>
    </div>

    <!--요소 시작-->
    <form class="Form-Box List-Write-Page">
      <div class="Title">
        <span>
          공지사항 작성하기
        </span>
      </div>
      <!--제목-->
      <div class="Title-Write">
        <input type="text" name='name' placeholder="" autofocus />
      </div>
      <!--파일 추가-->
      <div class="File-Add">
        <label class="Flie-Add-Btn" for="videofile">
          <span class="Icon">
            <i class="fas fa-folder-plus"></i>
          </span>
          <span class="Text">
            이곳을 클릭하여 이미지 파일을 추가하세요.
          </span>
        </label>
        <input type="file" id="videofile" name="photo">
      </div>
      <!--내용-->
      <div class="Content">
        <textarea name="content"></textarea>
      </div>
      <!--작성하기-->
      <div class="Up-Btn">
        <input type="submit" value="작성하기" name="submit" />
      </div>
    </form>
  
  </div>
</div>