<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <link rel="stylesheet" href="css/djqfhem.css">
    <h3>임시 회원가입 창</h3>
    <form method="post">
        user <input type='text' size='10' name='name' placeholder="UserId">
        password <input type='text' size='10' name='password' placeholder="Password" type="password">
        <input type='submit' value='insert' onclick='this.form.action ="/insert"'>
        <input type='submit' value='delete' onclick='this.form.action= "/deletedb"'>
        water <input type='text' size='10' name='water' placeholder="UserId">
        <input type='submit' value='insert' onclick='this.form.action ="/usewater"'>
        <h3>임시 수전사용량 입력 창</h3>
        user <input type='text' size='10' name='watername' placeholder="UserId">
        <input type='submit' value='insert' onclick='this.form.action ="/insertwater"'>
    </form>
    <h1>비디오업로드</h1>
    <br>
       <form method="post" enctype="multipart/form-data" action="/process/video">
        <div class="filebox">
            <label for="file">업로드</label>
            <input type="file" id="file" name="photoaaaa">
        </div>
        <input type="submit" value="업로드" name="submit" />
    </form>
    <h1>이미지 업로드</h1>
   <form method="post" enctype="multipart/form-data" action="/process/image">
        <div class="fileboxasd upload-nameasd-2">
            <label for="file"업로드 </label>
            <input type="file" id="file" name="aaaa">
        </div>
        <input type="submit" value="업로드" name="submit"/>
    </form>



<script>
    function changeid(){
        var a= document.getElementsByName('photoaaaa');
    a.id = 'fileaaaaa';
    }
</script>
<!--
<form method="post" enctype="multipart/form-data" action="/process/image">

  
    <table>
            <tr>
                <label className="input-file-button" for="input-file">
                    업로드
                </label>
                <input type="file" id="input-file" style="display: none;">
            </tr>
        </table>
        <input type="submit" value="업로드" name="submit" />

    <div class="filebox bs3-primary">
        <input class="upload-name" value="파일선택" disabled="disabled">

        <label for="ex_filename">업로드</label>
        <input type="file" id="ex_filename" class="upload-hidden">
    </div>
    <script type="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function () {
            var fileTarget = $('.filebox .upload-hidden');

            fileTarget.on('change', function () {
                if (window.FileReader) {
                    var filename = $(this)[0].files[0].name;
                } else {
                    var filename = $(this).val().split('/').pop().split('\\').pop();
                }

                $(this).siblings('.upload-name').val(filename);
            });
        });
    </script>
</body>

</html>