/*서울 남산체 폰트 가져오기*/
@font-face {
    font-family: "SeoulNamsanM";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  html > body {
    margin: 0;
    font-family: SeoulNamsanM, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    background-color: #D2E8F7;
  }
  
  /*라이브러리 시작*/
  .img-box > img {
    display: block;
    width: 100%;
  }
  .border-radius-5 {
   border-radius: 5px;
  }
  .border-radius-50 {
   border-radius: 50px; 
  }
  
  .border-r {
    border: 2px solid red;
  }
  .border-o {
    border: 2px solid orange;
  }
  .border-g {
    border: 2px solid green;
  }
  .border-b {
    border: 2px solid blue;
  }
  .border-i {
    border: 2px solid indigo;
  }
  .border-1-8D8D8D {
    border: 1px solid #8d8d8d;
  }
  
  /*배경*/
  .bg-8D8D8D {
    background-color: #8d8d8d;
  }
  .bg-1F94F1 {
    background-color: #1f94f1;
  }
  .bg-69B1EB {
    background-color: #69b1eb;
  }
  .bg-158AE7 {
    background-color: #158AE7;
  }
  .bg-1A8FEC {
    background-color: #1A8FEC;
  }
  .bg-98D1FE {
    background-color: #98D1FE;
  }
  
  /*텍스트*/
  .c-A7A7A7 {
    color: #A7A7A7;
  }
  .c-545454 {
    color: #545454;
  }
  .c-565656 {
    color: #545454;
  }
  .c-949494 {
    color: #949494;
  }
  .c-7D8FA0 {
    color: #7D8FA0;
  }
  .c-198EEB {
    color: #198EEB;
  }
  .c-98D1FE {
    color: #98D1FE;
  }
  .c-FF4921 {
    color: #FF4921
  }
  
  /*폰트*/
  .font-12 {
    font-size: 12px;
  }
  .font-14 {
    font-size: 14px;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-32 {
    font-size: 32px;
  }
  .font-48 {
    font-size: 48px;
  }
  
  /*여백*/
  .padding-3 {
    padding: 3px;
  }
  .padding-6 {
    padding: 6px;
  }
  .padding-x-14 {
    padding: 14px;
  }
  .padding-t-3 {
    padding: 3px;
  }
  .padding-b-3 {
    padding: 3px;
  }
  
  /*넓이*/
  .wid-160 {
    width: 160px;
  }
  .wid-643 {
    width: 643px;
  }
  .wid-40-p {
    width: 40%;
  }
  
  /*높이*/
  .hei-9-p {
    height: 9%;
  }
  .hei-10 {
    height: 10px;
  }
  .hei-28 {
    height: 28px;
  }
  .hei-50 {
    height: 50px;
  }
  .hei-70 {
    height: 70px;
  }
  .hei-90 {
    height: 90px;
  }
  .hei-92 {
    height: 92px;
  }
  .hei-160 {
    height: 160px;
  }
  .hei-188 {
    height: 188px;
  }
  
  
  /*최소 높이*/
  .m-h-280 {
    min-height: 280px;
  }
  
  /*라이브러리 끝*/
  
  .all-box {
    margin: 0 50px;
  }
  .graph-back-bar {
   box-shadow: inset 0 0 3px #969696;  
  }
  .percent-bar {
   background: linear-gradient(to right, #4fa6eb, #bfe3ff);
  }
  .change-alarm-icon > img {
    width: 25px;
  }
  .title-graph-icon > img {
    min-width: 70px;
    max-width: 70px;
  }
  .tt-btn-m-box {
    height: 48px;
  }
  @media (max-width: 1600px) {
    .tt-btn-m-box {
      height: 0;
    }
  }
  .footer-bar {
    height:90px;
    margin: 50px auto; 
  }