/*서울 남산체 폰트 가져오기*/
@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  margin: 0;
  font-family: SeoulNamsanM, sans-serif;
  height: 100vh;
  background-color: #d2e8f7;
}

/*라이브러리 시작*/
.img-box > img {
  display: block;
  width: 100%;
}
.bar-gra-1 {
  background: linear-gradient(to right, #bee2ff, #83c8ff);
}
.bar-gra-2 {
  background: linear-gradient(to right, #83c8ff, #3da9ff);
}
.bar-gra-3 {
  background: linear-gradient(to right, #3da9ff, #0590ff);
}

.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-radius-50 {
  border-radius: 50px;
}

.border-r {
  border: 2px solid red;
}
.border-o {
  border: 2px solid orange;
}
.border-g {
  border: 2px solid green;
}
.border-b {
  border: 2px solid blue;
}
.border-i {
  border: 2px solid indigo;
}
.border-1-8D8D8D {
  border: 1px solid #8d8d8d;
}
.border-1-C4C4C4 {
  border: 1px solid #c4c4c4;
}
.border-b-1-E0E0E0 {
  border-bottom: 1px solid #e0e0e0;
}
.border-b-1-EBEBEB {
  border-bottom: 1px solid #ebebeb;
}

/*배경*/
.bg-69B1EB {
  background-color: #69b1eb;
}
.bg-1A8FEC {
  background-color: #1a8fec;
}

/*텍스트*/
.c-191919 {
  color: #191919;
}
.c-545454 {
  color: #545454;
}
.c-565656 {
  color: #545454;
}
.c-696969 {
  color: #696969;
}
.c-7D7D7D {
  color: #7d7d7d;
}
.c-787878 {
  color: #787878;
}
.c-949494 {
  color: #949494;
}
.c-BEBEBE {
  color: #bebebe;
}
.c-A7A7A7 {
  color: #a7a7a7;
}
.c-FF4921 {
  color: #ff4921;
}
.c-4FA6EB {
  color: #4fa6eb;
}
.c-FF7528 {
  color: #ff7528;
}
.c-69B1EB {
  color: #69b1eb;
}
.c-FFB287 {
  color: #ffb287;
}
.c-1A8FEC {
  color: #1a8fec;
}
.c-7E889A {
  color: #7e889a;
}

/*폰트*/
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-21 {
  font-size: 21px;
}
.font-32 {
  font-size: 32px;
}
.font-48 {
  font-size: 48px;
}

/*여백*/
.padding-3 {
  padding: 3px;
}
.padding-6 {
  padding: 6px;
}
.padding-10 {
  padding: 10px;
}
.padding-x-14 {
  padding: 14px;
}
.padding-t-3 {
  padding: 3px;
}
.padding-t-8 {
  padding-top: 8px;
}
.padding-b-3 {
  padding: 3px;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.padding-r-5 {
  padding-right: 5px;
}

/*넓이*/
.wid-20 {
  width: 20px;
}
.wid-39 {
  width: 39px;
}
.wid-59 {
  width: 59px;
}
.wid-92 {
  width: 92px;
}
.wid-160 {
  width: 160px;
}
.wid-643 {
  width: 643px;
}
.wid-40-p {
  width: 40%;
}
.wid-6-p {
  width: 60%;
}
/*최대 넓이*/
.max-w-120 {
  max-width: 120px;
}

/*높이*/
.hei-9-p {
  height: 9%;
}
.hei-10 {
  height: 10px;
}
.hei-28 {
  height: 28px;
}
.hei-34 {
  height: 34px;
}
.hei-40 {
  height: 40px;
}
.hei-48 {
  height: 48px;
}
.hei-50 {
  height: 50px;
}
.hei-52 {
  height: 52px;
}
.hei-65 {
  height: 65px;
}
.hei-70 {
  height: 70px;
}
.hei-72 {
  height: 72px;
}
.hei-78 {
  height: 78px;
}
.hei-84 {
  height: 84px;
}
.hei-90 {
  height: 90px;
}
.hei-91 {
  height: 91px;
}
.hei-92 {
  height: 92px;
}
.hei-135 {
  height: 135px;
}
.hei-137 {
  height: 137px;
}
.hei-140 {
  height: 140px;
}
.hei-157 {
  height: 157px;
}
.hei-160 {
  height: 160px;
}
.hei-167 {
  height: 167px;
}
.hei-170 {
  height: 175px;
}
.hei-188 {
  height: 188px;
}
.hei-215 {
  height: 215px;
}
.hei-221 {
  height: 221px;
}
.hei-237 {
  height: 237px;
}
.hei-261 {
  height: 261px;
}
.hei-293 {
  height: 293px;
}
.hei-359 {
  height: 359px;
}
.hei-408 {
  height: 408px;
}
.hei-411 {
  height: 411px;
}
.hei-520 {
  height: 520px;
}

/*최대 높이*/
.max-h-28 {
  max-height: 28px;
}
.max-h-170 {
  max-height: 170px;
}
/*라이브러리 끝*/

/*레이아웃 시작*/
.all-box {
  margin: 20px 49px 82px 49px;
}
.MapPin-icon > img {
  width: 20px;
}
.weather-icon > img {
  width: 65px;
}
.Temp-icon > img {
  width: 18px;
}
.tem-s-icon > img {
  width: 7px;
}
.Clock-icon > img {
  width: 20px;
}
.winter-Up-icon > img {
  width: 20px;
}
.Vector-icon > img {
  width: 10px;
}
.change-alarm-icon > img {
  width: 25px;
}
.mirror-img > img {
  min-height: 170px;
  box-shadow: -2px 2px 2px 2px #d6d6d6;
}

.graph-back-bar {
  box-shadow: inset 0 0 3px #969696;
}
.percent-bar {
  background: linear-gradient(to right, #4fa6eb, #bfe3ff);
}
.poll-percent-bar {
  background: linear-gradient(to right, #ffb287, #ff7528);
}
.tawer-percent-bar {
  background: linear-gradient(to right, #fff2c2, #ffb726);
}

.btn-text-off {
  border-radius: 50px 0 0 50px;
  box-shadow: 2px 2px 2px 2px #cccccc;
  color: #7c7c7c;
}
.btn-text-danger {
  height: 34px;
  background-color: white;
  border-radius: 0 50px 50px 0;
  box-shadow: 2px 4px 2px 0 #cccccc;
}
.poll-btn > div > div:first-child {
  position: absolute;
  background: linear-gradient(to right, #fc8a38, #fc3838);
  width: 60%;
  height: 34px;
  border-radius: 50px;
}
.section-1 {
  display: flex;
}
.section-2 {
  display: flex;
}
/*레이아웃 끝*/

/*반응형 시작*/
@media (max-width: 1500px) {
  .img-preview,
  .video-preview {
    height: 200px;
  }
  .img-preview-btn,
  .video-preview-btn {
    height: 120px;
  }
  .access-list {
    height: 330px;
  }
}
@media (max-width: 1024px) {
  .section-1 {
    display: block;
  }
  .reaction-weather-box,
  .Weather-box {
    margin-right: -20px;
  }
  .reaction-water,
  .reaction-weather-up {
    margin-top: 10px;
    margin-right: -20px;
  }
  .reaction-winter-Up-icon,
  .reaction-poll-bar,
  .Use-1,
  .reaction-Use-bar {
    margin-top: 10px;
  }
  .poll {
    margin-right: -20px;
  }
  .section-2 {
    display: block;
  }
  .reaction-access-list {
    margin-left: -20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}
/*반응형 끝*/
