/*서울 남산체 폰트 가져오기*/
@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  margin: 0;
  font-family: SeoulNamsanM, sans-serif;
  background-color: #e5ebf2;
  /* 스크롤바 막대 설정*/
}
/* 스크롤바 설정*/
html::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 막대 설정*/
html::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #4fa6eb;
  border-radius: 10px;
}
/* 스크롤바 뒷 배경 설정*/
html::-webkit-scrollbar-track {
  background-color: #d2e8f7;
}
.border-r {
  border: 2px solid red;
}
.border-o {
  border: 2px solid orange;
}
.border-g {
  border: 2px solid green;
}
.border-b {
  border: 2px solid blue;
}
.border-i {
  border: 2px solid indigo;
}
.img-box > img {
  display: block;
  width: 100%;
}
/*top-bar 라이브러리 시작*/
/*배경*/
.bg-1A8FEC {
  background-color: #4f6884;
}

/*여백*/
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-40 {
  margin-top: 40px;
}
.padding-t-3-p {
  padding-top: 3%;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-30 {
  margin-bottom: 30px;
}
.padding-l-1-p {
  padding-left: 1%;
}
.padding-r-1-p {
  padding-right: 1%;
}
/*넓이*/
.wid-14-5-p {
  width: 14.5%;
}
/*높이*/
.hei-70 {
  height: 70px;
}
/*폰트*/
.c-686868 {
  color: #686868;
}
.logo-box {
  box-shadow: 1px 1px 1px #d4d4d4;
}
.title-text {
  font-size: 0.65rem;
}
.list-text > ul > li {
  font-size: 0.85rem;
}
.img-profile-box > img {
  width: 120px;
  min-width: 100%;
}
/*바 라이브러리 끝*/

/*미디어 La-S*/
.border-r {
  border: 2px solid red;
}
.border-o {
  border: 2px solid orange;
}
.border-g {
  border: 2px solid green;
}
.border-b {
  border: 2px solid blue;
}
.border-i {
  border: 2px solid indigo;
}
.border-x {
  border: 1px solid red;
  border-opacity: 0;
}
.border-radius-50 {
  border-radius: 50px;
}
/*Height*/
.hei-61 {
  height: 61px;
}
.hei-7-p {
  height: 7%;
}
.hei-59-p {
  height: 59%;
}
.hei-1-p {
  height: 1%;
}
.hei-33-p {
  height: 33%;
}

.c-047525B {
  color: #47525b;
}
.c-8F8F8F {
  color: #8f8f8f;
}
.c-696969 {
  color: #696969;
}
.bg-637484 {
  background-color: #637484;
}
.bg-3AAFE2 {
  background-color: #3aafe2;
}
.bg-B8B8B8 {
  background-color: #b8b8b8;
}
.bg-6F8294 {
  background-color: #6f8294;
}

/*요소 시작*/
.Ele-All-Box {
  height: calc(100% - 70px);
  padding: 20px 20px 20px 20px;
  background-color: #E5EBF2;
}
.Img-All-Box {
  margin-right: 10px;
}
.Vid-All-Box {
  margin-left: 10px;
}
.Image > img {
  max-width: 33%;
  height: 100%;
}
.Img-Setn {
  height: calc(100% - 102px);
}
.Img-Btn-Cover-All-Box {
  height: calc(100% / 2);
}
.Vi-Btn-Cover-All-Box-2 {
  height: calc(100% / 2);
}
.Form-Area-Box-1 {
  height: calc(100% / 2);
  border-bottom: 0.5px solid #b8b8b8;
  box-shadow: 0px 3px 1px #e9e9e9;
}
.Form-Area-Box-2 {
  height: calc(100% / 2);
}
.Img-Del-Btn-Box {
  height: calc(100% / 2);
  width: calc(100% - 32px);
}
.Img-Add-Btn-Box {
  width: calc(100% / 2);
}
.Img-Up-Btn-Box {
  width: calc(100% / 2);
}
input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.Flie-Del-Btn,
.Flie-Up-Btn {
  padding: 3px 14px;
  box-shadow: -1px 1px 1px #a7a7a7;
  transition: color 0s;
  transition: background-color 0.3s;
}
.Flie-Add-Btn {
  padding: 3px 12px;
  box-shadow: -1px 1px 1px #a7a7a7;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
.Img-Cal-Sel-Box {
  box-shadow: -1px 1px 1px #a7a7a7;
  padding: 4px 6px;
}
.Img-Url-Box > select {
  border: 0.5px solid #afafaf;
}
.Flie-Up-Btn:hover {
  background-color: #fd7b32;
}
.Flie-Del-Btn:hover {
  background-color: #fd7b32;
}
.Flie-Add-Btn:hover {
  background-color: #fd7b32;
}
